* { margin: 0; padding: 0; box-sizing: border-box; }
html, body
{
    height: 100%;
    font: 13px Helvetica, Arial;
    background-image: url('/background.jpg'); // hawk
    background-repeat: no-repeat;

    --action-color: rgb(42, 72, 98);
    --action-color-2: rgb(79, 110, 123);

}

.chats {
    float: left;
    width: 320px;
    overflow-y: scroll;
    height:80vh;
}

.column-right
{
    float: left; width: 400px;
}

.column-center { float: left; width: 350px; }

#messages {
    margin: 5px;
    list-style-type: none; padding: 0;
    overflow-y: scroll;
    height:80vh;
    width: 300px;
    background-color: white;
}

#messages li { padding: 5px 10px; background: rgb(153, 204, 255); }

#messages li:nth-child(odd)
{
    background: #eee;
}

form {

    margin: 5px;

    padding: 3px; position: fixed; bottom: 0;

    width: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}

form input {
    border: 0; padding: 10px; width: 90%; margin-right: .5%;
}

.header {
    margin: 5px;
    color: white;
}

form button {
    width: 9%;
    background: var(--action-color);
    border: none;
    padding: 10px;
    border-radius: 12px;
    color: white;
}

.action {
    color: var(--action-color);
}

.select_chat {

    font-family: "Times New Roman";

    width: 300px;
    padding: 5px;
    margin: 5px;
    height: 110px;

    color: white;
    background: var(--action-color-2);



    border-radius: 12px;
}

.blue {
    background: var(--action-color);
}

.resume {
    float: left;

    width: 300px;
    padding: 5px;
    margin: 5px;

    color: white;
    background: var(--action-color);

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}

.next {
    display: block;
    clear: both;
}

.challenges {
    float: left;

    width: 300px;
    height: 300px;
    overflow: auto;
    padding: 5px;
    margin: 5px;

    background-color: white;

    border-radius: 12px;
}

.time a:link {
    font-size: larger;
    color: whitesmoke;
}

.time a:visited {
    font-size: larger;
    color: whitesmoke;
}


.host {
    color: navajowhite;
}

.skill {
    display: inline;
    float: left;
    margin: 2px;
    padding: 5px;
    border-radius: 6px;
    background-color: #777777;
}