#messages {
    margin: 5px;

    list-style-type: none; padding: 0;
    overflow-y: scroll;
    height: 500px;
    width: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}

form {

    margin: 5px;

    padding: 3px; position: fixed; bottom: 0;

    width: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}

form input {
    border: 0; padding: 10px; width: 90%; margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    border-radius: 12px;
}

.select_chat {
    width: 300px;
    padding: 5px;
    margin: 5px;

    color: white;
    background-color: #444400;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}

.challenges {
    width: 300px;
    height: 300px;
    overflow: auto;
    padding: 5px;
    margin: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    border-radius: 12px;
}